<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
  <meta name="keywords" content="">
  <meta name="description" content="">
  <meta name="renderer" content="webkit">
  <meta name="robots" content="index, follow">
  <meta name="format-detection" content="telephone=no">
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
  <script src="/third-libs/vue.js"></script>
  <script src="https://unpkg.com/element-ui/lib/index.js"></script>
  <link rel="stylesheet" href="/third-libs/animate.min.css">
  <link rel="stylesheet" href="/third-libs/swiper.min.css">
  <script src="/third-libs/swiper.min.js"></script>
  <!--引入模板-->
  <script src="/engine_libs/h5-swiper/page-engine.umd.js"></script>
  <link rel="stylesheet" href="/engine_libs/h5-swiper/page-engine.css">
  <style>
    html, body, #app{
      position: absolute;
      width: 60%;
    }
.canvas-element {
  position: absolute;
  border: 1px dashed transparent;
  cursor: move;
}
#canvas{
  /* background-color: aqua; */
  width: 220px !important;
  min-height: 400px !important;
}
.image-wrap {
  display: flex;
    cursor: pointer;
    }
  </style>
</head>
<body>
<div id="app">
    <!-- <div v-for="(pageData,index) in pageDataFree.pages" id="canvas">
    <div v-for="item in pageData.elements">
     <div
     class="canvas-element"
     :style="formatStyle(item.eleStyle)">
     <component
     class="canvas-comp"
     :style="formatStyle(item.compStyle)"
     :is="`lib-${item.component}`"
     v-bind="item.props" />
     </div>
    </div>
  </div>
  <div class="animate__animated animate__bounce animate__delay-2s">121</div> -->
  <engine-h5-swiper  />
  <engine-h5-swiper  />
</div>
<script>
  window._pageDataFree =<%- JSON.stringify(pageDataFree) %>
</script>
<script>
// 注册到全局// 等同于下面这种写法
  new Vue({
	  el:"#app",
  })
</script>
<!-- <script>
	eval(window._pageData.script);
</script> -->
</body>
</html>
